.listr{
    
     position: relative;
    text-align: center;
    padding: 10px;
     width: 80%;
    margin:10%;
    margin-top: -135px;
    background-color: antiquewhite;
    border-radius: 15px;
    z-index: 2;
}
td{
    background-color: rgb(79, 173, 173,0.75);
    border-radius: 5px;
  
    
}
label{
    color: blue;
    font-size:20px ;
}
button{
    color: rgb(27, 27, 232);
    background-color: blanchedalmond;
    margin-left: 80%;
    margin-bottom: 20px;
}